@model IEnumerable<SmartRes_Official2019Data.WeekDays>

@{
    /**/

    ViewBag.Title = "Available Days";
}
<h2>Choose a day</h2>
<p>
    Select from @Model.Count()  Week days:
    @Html.ActionLink("Create New", "Create")


</p>
<ul>
    @foreach (var shed in Model)
    {
        <li>
            @Html.ActionLink(shed.CurrDayofWeek, "Index", "BusSchedules", new { id = shed.WkdId }, new { @class = "btn btn-block btn-lg btn-default icon-2 info-tooltip", @Title = "View days" })<br />
        </li>
    }
</ul>

