<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meal Order</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/NewShop/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/NewShop/css/animate.css">
    
    <link rel="stylesheet" href="~/Content/NewShop/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/NewShop/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/NewShop/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/NewShop/css/aos.css">
    <link rel="stylesheet" href="~/Content/NewShop/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Content/NewShop/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/Content/NewShop/css/jquery.timepicker.css">

    <link rel="stylesheet" href="~/Content/NewShop/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/NewShop/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/NewShop/css/style.css">
</head>
<body class="goto-here">

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container">
            <a class="navbar-brand" href="/Shopping/Index">MEALORDER</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>
            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a href="/Shopping/Index" class="nav-link">Home</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown04">
                            <a class="dropdown-item" href="/Shopping/Index">Shop</a>
                            <a class="dropdown-item" href="product-single.html">Single Product</a>
                            <a class="dropdown-item" href="/Shopping/ShoppingCart">Cart</a>
                            <a class="dropdown-item" href="@Url.Action("HowToGetMyOrder", "Shopping")">Checkout</a>
                        </div>
                    </li>
                    <li class="nav-item"><a href="/Home/Index1" class="nav-link">SmartRes</a></li>
                   
                    <li class="nav-item cta cta-colored"><a href="/Shopping/ShoppingCart" class="nav-link"><span class="icon-shopping_cart"></span>(@Html.Action(actionName: "countCartItems", controllerName: "Shopping"))</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->

    <section class="ftco-section">
       
        <div class="container">
            <div class="row">
                @RenderBody()
                </div>
            </div>
    </section>

    <section class="ftco-section img" style="background-image: url('../../NewShop/images/bg_3.jpg');">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6 heading-section ftco-animate deal-of-the-day ftco-animate">
                    <span class="subheading">Best Price For You</span>
                    <h2 class="mb-4">Meal Order</h2>
                    <p>Seat the comfort of your room whilst we cook for you</p>
                    <h3><a href="#">Food</a></h3>
      
             
                </div>
            </div>
        </div>
    </section>
  
    <hr>
    
   
    <footer class="ftco-footer ftco-section">
        <div class="container">
            <div class="row">
                <div class="mouse">
                    <a href="#" class="mouse-icon">
                        <div class="mouse-wheel"><span class="ion-ios-arrow-up"></span></div>
                    </a>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">MealOrder</h2>
                        <p>Sit in the comfort of your room whilst we cook for you.</p>
                        <p><b>Collection</b>
                        <br />
                         08:00 - 08-45 at the Front Desk</p>
                        <br />
                        <p><b>Delivery</b> 
                        <br />
                        Breakfast - 07:00
                        <br />
                        Lunch - 09:30
                        <br />
                        Dinner - 17:30
                        </p>
                        <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                            
                        </ul>
                    </div>
                </div>
             
                <div class="col-md">
                    <div class="ftco-footer-widget mb-4">
                        <h2 class="ftco-heading-2">Have a Questions?</h2>
                        <div class="block-23 mb-3">
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">Durban 4001, KZN, South Africa</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+27 659 754 171</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@smartres.co.za</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </footer>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <script src="~/Content/NewShop/js/jquery.min.js"></script>
    <script src="~/Content/NewShop/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/NewShop/js/popper.min.js"></script>
    <script src="~/Content/NewShop/js/bootstrap.min.js"></script>
    <script src="~/Content/NewShop/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/NewShop/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/NewShop/js/jquery.stellar.min.js"></script>
    <script src="~/Content/NewShop/js/owl.carousel.min.js"></script>
    <script src="~/Content/NewShop/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/NewShop/js/aos.js"></script>
    <script src="~/Content/NewShop/js/jquery.animateNumber.min.js"></script>
    <script src="~/Content/NewShop/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/NewShop/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/Content/NewShop/js/google-map.js"></script>
    <script src="~/Content/NewShop/js/main.js"></script>

 

</body>
</html>