
@{Layout = null;

    ViewBag.Title = "Home Page";
    var msg = TempData["message"] ?? string.Empty;

     }
<script>
    var message = '@msg';
    if (message)
        alert(message);
</script>
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Welcome to SmartRes</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="Startup Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->

    <link href="~/HomeContents/css/bootstrap.css" rel="stylesheet" />
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="~/HomeContents/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="~/HomeContents/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->
    <!-- Web-Fonts -->
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
          rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
    <!-- main banner -->
    <div class="main-top" id="home">
        <!-- header -->
        <header>
            <div class="container-fluid">
                <div class="header d-lg-flex justify-content-between align-items-center py-3 px-sm-3">
                    <!-- logo -->
                    <div id="logo">
                        <h1><a href="/Home/Index"><span class="fa fa-linode mr-2"></span>SmartRes</a></h1>
                    </div>
                    <!-- //logo -->
                    <!-- nav -->
                    <div class="nav_w3ls">
                        <nav>
                            <label for="drop" class="toggle">Menu</label>
                            <input type="checkbox" id="drop" />
                            <ul class="menu">
                                @*<li><a href="/Home/Index" class="active">Home</a></li>*@
                                @*<li><a href="about.html">About Us</a></li>
                                    <li><a href="pricing.html">Pricing</a></li>*@
                                @*<li>
                                         First Tier Drop Down
                                        <label for="drop-2" class="toggle toogle-2">
                                            Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span>
                                        </label>
                                        <a href="#">Dropdown <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                                        <input type="checkbox" id="drop-2" />
                                        <ul>
                                            <li><a href="#services" class="drop-text">Services</a></li>
                                            <li><a href="faq.html" class="drop-text">Faq's</a></li>
                                            <li><a href="404.html" class="drop-text">404</a></li>
                                            <li><a href="#stats" class="drop-text">Statistics</a></li>
                                            <li><a href="about.html" class="drop-text">Why Choose Us?</a></li>
                                            <li><a href="about.html" class="drop-text">Our Team</a></li>
                                            <li><a href="#partners" class="drop-text">Partners</a></li>
                                        </ul>
                                    </li>*@
                                @*<li><a href="contact.html">Contact Us</a></li>*@
                            </ul>
                        </nav>
                    </div>
                    <!-- //nav -->
                    <div class="d-flex mt-lg-1 mt-sm-2 mt-3 justify-content-center">
                        <!-- search -->
                        <div class="search-w3layouts mr-3">

                        </div>
                        <!-- //search -->
                        <!-- download -->
                        <a href="/Account/Login" <color= "blue"class="btn button-style mt-md-5 mt-4">Login Here</color></a>
                        <!-- //download -->
                    </div>
                </div>
            </div>
        </header>
        <!-- //header -->
        <!-- banner -->
        <div class="banner_w3lspvt position-relative">
            <div class="container">
                <div class="d-md-flex">
                    <div class="w3ls_banner_txt">
                        <h3 class="w3ls_pvt-title">A New Generation of Residency <br><span>Begins now..</span></h3>
                        <a href="/Student_Otp/Create" class="btn button-style mt-md-5 mt-4">Enter verification code</a>
                    </div>
                    <div class="banner-img">
                        <img src="~/HomeContents/images/banner.png" alt="" class="img-fluid">

                    </div>
                </div>
            </div>
            <!-- animations effects -->
            <div class="icon-effects-w3l">
                <img src="~/HomeContents/images/shape1.png" alt="" class="img-fluid shape-wthree shape-w3-one">
                <img src="~/HomeContents/images/shape2.png" alt="" class="img-fluid shape-wthree shape-w3-two">
                <img src="~/HomeContents/images/shape3.png" alt="" class="img-fluid shape-wthree shape-w3-three">
                <img src="~/HomeContents/images/shape5.png" alt="" class="img-fluid shape-wthree shape-w3-four">
                <img src="~/HomeContents/images/shape4.png" alt="" class="img-fluid shape-wthree shape-w3-five">
                <img src="~/HomeContents/images/shape6.png" alt="" class="img-fluid shape-wthree shape-w3-six">
            </div>
            <!-- //animations effects -->
        </div>
        <!-- //banner -->
    </div>
    <!-- //main banner -->
    <!-- what we do section -->
    <div class="what bg-li py-5" id="what">
        <div class="container py-xl-5 py-lg-3">
            <div class="row about-bottom-w3l text-center mt-4">
                <div class="col-lg-4 about-grid">
                    <div class="about-grid-main">
                        <img src="~/HomeContents/images/download.jpg" alt="" class="img-fluid">
                        <h4 class="my-4">Dinner Service</h4>
                        <p>Here at SmartRes we offer state of the art food services. Bringing 5 star meals right to your door </p>

                    </div>
                </div>
                <div class="col-lg-4 about-grid my-lg-0 my-5">
                    <div class="about-grid-main">
                        <img src="~/HomeContents/images/images.jpg" alt="" class="img-fluid">
                        <h4 class="my-4">Laundry Service</h4>
                        <p>Tired of doing your own laundry? No problem! We offer a SMART, efficient laundry service.</p>

                    </div>
                </div>
                <div class="col-lg-4 about-grid">
                    <div class="about-grid-main">
                        <img src="~/HomeContents/images/imgg.jpg" alt="" class="img-fluid">
                        <h4 class="my-4">Bus Service</h4>
                        <p>Running late?  with our SMART bus schedules you will never be late for another lecture!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //what we do section -->
    <!-- middle -->
    <section class="midd-w3 py-5" id="faq">
        <div class="container py-xl-5 py-lg-3">
            <div class="row">
                <div class="col-lg-6 about-right-faq">
                    <h6>Building Management</h6>
                    <h3 class="text-da">An All-In-One Solution</h3>
                    <p class="mt-4">
                        SmartRes efficiently organises your mass letting requirements across multiple buildings.
                        The solution creates a community amongst your residents and offers other value added services.
                    </p>
                    <ul class="w3l-right-book mt-4">
                        <li>Interbulding chat service</li>
                        <li>Added residential services</li>
                        <li>Complete furnishing tracking</li>
                    </ul>
                </div>
                <div class="col-lg-6 left-wthree-img text-right">
                    <img src="~/HomeContents/images/b1.png" alt="" class="img-fluid mt-5" />
                </div>
            </div>
        </div>
    </section>
    <!-- //middle -->

</body>

</html>